{% extends "layout.html" %}
{% block body %}

<div class="container mt-5 pt-5">
    <h2 class="text-center"  style="color: #666;">Enter the following details</h2>

    <form class="mt-5" method="post" action="/predict">
        <div class="form-group">
            <input type="number" class="form-control" name="preg" placeholder="Enter preg" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="plasma" placeholder="Enter plasma" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="Glucose" placeholder="Enter Glucose" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="blood_pressure" placeholder="Enter blood_pressure" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="Insulin" placeholder="Enter Insulin" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="BMI" placeholder="Enter BMI" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="SkinThickness" placeholder="Enter SkinThickness" required>
        </div>
        <div class="form-group">
            <input type="number" class="form-control" name="Age" placeholder="Enter Age" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg btn-block">Predict</button>
    </form>
</div>
{% endblock %}
