{% extends "layout.html" %}
{% block body %}
<div class="container mt-5">
  <h1 class="text-center">My Portfolio</h1>

  <!-- Internship Completion Certificate Section -->
  <div class="certificate-section mt-5">
    <h2 class="section-heading text-center" style="color: #666;">Project Completion Certificate</h2>
    <div class="certificate-container text-center">
      <img src="/static/images/skills/15.png" alt="Internship Completion Certificate" class="img-fluid rounded" style="width: 100%; height: auto; max-width: 800px; max-height: 600px;">
      <!-- Add any additional details about the certificate -->
    </div>
  </div>
  <!-- End of Internship Completion Certificate Section -->

</div>


{% endblock %}