{% extends "layout.html" %}

{% block body %}

<!-- About Section -->
<section id='about' class="about-section">
  <div class="container">
    <div class="row">
      <div class="col text-center" >
        <h2 class="section-heading" style="color: #666;">About Me</h2>
        <img src="/static/images/about/1.png" alt="About Me">
        <p class="text-muted" >I'm a detail-oriented B.Sc. Chemistry graduate with a passion for data science. Recently certified in Advanced AI and ML for Data Science from Learnbay, I gained hands-on experience in cutting-edge technologies like Machine Learning, Tableau, Power BI, SQL, MongoDB, and more.</p>
        <p class="text-muted">As a Data Science intern at Oasis Infobyte, I contributed to real-world projects, focusing on data analysis, predictive modeling, and visualization. Recognized for dedication and problem-solving skills with an internship completion certificate.</p>
        <p class="text-muted">I excel in dynamic environments, leveraging expertise to drive actionable insights and solutions for business success. Continuously updating skills in data science and AI trends.</p>
      </div>
    </div>

    <!-- Internship Experience Section -->
    <div class="internship-section">
      <h2 class="section-heading" style="color: #666;">Internship Experience</h2>
      <div class="internship-details" style="color: #FFFFFF;">
        <p style="color: #FFFF;"><strong></strong > In this internship, I gained hands-on experience with real-world problems, one of which was the availability of cabs on booking dates. This was a complex problem as it required multiple approaches according to business. From this, I have learned how to approach different problems and build models.</p>
      </div>
    </div>
    <!-- End of Internship Experience Section -->

      <!-- Internship Completion Certificate Section -->
      <div class="certificate-section">
        <h2 class="section-heading" style="color: #666;"></h2>
        <!-- Insert your certificate content here -->
        <div class="certificate-container">
          <img src="/static/images/internship certificate/8.png" alt="Internship Completion Certificate" class="img-fluid rounded" style="width: 100%; height: auto; max-width: 800px; max-height: 600px;">
          <!-- Add any additional details about the certificate -->
        </div>
      </div>
    <!-- End of Internship Completion Certificate Section -->
  </div>
</section>

{% endblock %}
